<!DOCTYPE html>
<html>
<head>
    <title id="title">About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/kyh7hrm.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<nav class="navbar navbar-expand-sm sticky-top">
    <a class="navbar-brand" href="/">
        <span class="row">
            <span class="col-sm-2 ms-5 mt-2">
                <h2>✿</h2>
            </span>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posture-corrector">posture corrector</a>
            </li>
        </ul>
    </div>
</nav>

<div id="background">
    <div class="mt-5">
        <img src="/static/food.jpg" class="rounded-circle" alt="dumplings" style="width:300px;height:300px;">
    </div>
    <div class="mt-5">
        <h1>about</h1>
    </div>
    <div class="mb-5">
        <p>words words words</p>
    </div>
</div>
</body>

</html>